.promo__achieves.container
  .promo__achieve
    span.promo__achieve_zoomed 2900
    .promo__achieve-text.
      Специалистов крупных <br> компаний прошли <br> через наш УЦ в 2019 г.
  .promo__achieve
    span.promo__achieve_zoomed 59
    .promo__achieve-text.
      Квалифицированных <br> эксперта работают в <br> нашем штате
  .promo__achieve
    span.promo__achieve_zoomed 350
    .promo__achieve-text.
      Учебных программ <br> было разработано <br> преподавателями
  .promo__achieve
    span.promo__achieve_zoomed 200
    .promo__achieve-text.
      Компаний стали <br> нашими клиентами в <br> 2019 г.
  .promo__achieve
    span.promo__achieve_zoomed 5000
    .promo__achieve-text.
      Клиентов по всему <br> миру