.breadcrumbs.container
  a(href="#").breadcrumbs__link 
    span.breadcrumbs__link-text Главная страница
    svg.breadcrumbs__link-icon
      use(xlink:href="./assets/images/svg/symbol/sprite.svg#house")
  a(href="#").breadcrumbs__link
    span.breadcrumbs__link-text Учебный центр
    svg.breadcrumbs__link-icon
      use(xlink:href="./assets/images/svg/symbol/sprite.svg#book")
  a(href="#").breadcrumbs__link.breadcrumbs__link_active
    span.breadcrumbs__link-text Обучение по охране труда
    svg.breadcrumbs__link-icon
      use(xlink:href="./assets/images/svg/symbol/sprite.svg#book")