section.contacts
  h2.contacts__title Приезжайте к нам в гости :)
  .contacts__map-wrap
    #map.contacts__map
    .contacts__block
      .contacts__block-images
        picture.contacts__block-image
          img(src="./assets/images/map-image_1.png", alt="картинка")
        picture.contacts__block-image
          img(src="./assets/images/map-image_2.png", alt="картинка")
        picture.contacts__block-image
          img(src="./assets/images/map-image_3.png", alt="картинка")
        picture.contacts__block-image
          img(src="./assets/images/map-image_4.png", alt="картинка")
        picture.contacts__block-image
          img(src="./assets/images/map-image_5.png", alt="картинка")
        picture.contacts__block-image
          img(src="./assets/images/map-image_6.png", alt="картинка")
      .contacts__block-contact.contacts__block-address <span class="text_bold"> Адрес: </span> 105523, г. Москва, Щелковское шоссе, дом 100, корпус 1, эт. 3 пом.3008, оф.В.
      .contacts__block-contact 
        <span class="text_bold"> Телефон: </span> 
        a(href="tel:+74951045777").contacts__block-link +7 (495) 104-57-77
      .contacts__block-contact 
        <span class="text_bold"> Электронная почта: </span> 
        a(href="mailto:info@gkroskkom.ru").contacts__block-link info@gkroskom.ru
      .contacts__block-contact.contacts__block-worktime <span class="text_bold"> Режим работы: </span> ежедневно с 09:00 до 18:00
      .contacts__block-contact <span class="text_bold"> Мы в социальных сетях </span>
      .contacts__block-socials
        a.contacts__block-social(href="#") Вконтакте
        a.contacts__block-social(href="#") Инстаграм
        a.contacts__block-social(href="#") Фейсбук