mixin menuItem(href, text)
  a.header__menu-item(href=href)= text

header.header
  .header__wrap.container
    .header__col
      a.header__logo(href="index.html")
        img.header__logo-img(src="./assets/images/logo.png" alt='лого')
        span.header__logo-text Учебный 
          span.line_break центр
      .header__contacts
        svg.header__icon
          use(xlink:href="./assets/images/svg/symbol/sprite.svg#phone")
        .header__contacts-text 
          span.header__contacts-label Телефон: 
          a.header__contacts-phone(href="tel:+74951045777") +7 (495) 104-57-77
        button.header__contacts-button.button Вам перезвонить?
    .header__col
      a(href="#").header__login Вход в Личный Кабинет
        svg.header__login-icon.header__icon
          use(xlink:href="./assets/images/svg/symbol/sprite.svg#id-card")
      .burger-button
        .burger-button__piece.half.start
        .burger-button__piece
        .burger-button__piece.half.end
  .header__menu
    .header__wrap.container
      .header__col
        nav.header__menu-list
          +menuItem('services-page.html', 'Учебный центр')
          +menuItem('services-page.html', 'Охрана труда')
          +menuItem('services-page.html', 'Промышленная безопасность')
          +menuItem('services-page.html', 'Пожарная безопасность')
          +menuItem('services-page.html', 'Экологическая безопасность')
      .header__col
        nav.header__menu-list
          +menuItem('services-page.html', 'О компании')
          +menuItem('#', 'Новости')
          +menuItem('#', 'Контакты')
          button(type="submit").header__menu-search
            svg
              use(xlink:href="./assets/images/svg/symbol/sprite.svg#search")
