mixin accordeonCard(title, text)
  .accordeon__card
    svg.accordeon__card-icon
      use(xlink:href="./assets/images/svg/symbol/sprite.svg#arrow")
    .accordeon__card-title= title
    .accordeon__card-info= text

section.services
  .services__wrap.container
    .services__col
      h2.services__col-title Услуги нашего учебного центра
      .services__col-text.
        Мы предлагаем не только обучение и переподготовку по многим популярным направлениям мы предлагаем целый комплекс услуг для вашего бизнеса. Благодаря многолетнему опыту и профессионализму нашего состава преподавателей, а также собственным центрам мы держим самые низкие цены, высокую скорость обучения и возможность проведения любого формата в любой точке земного шара.
      #accordeon-slider.accordeon-slider
        .accordeon-slider__slide
          +accordeonCard('Охрана труда', 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. О образ прямо над однажды жизни моей маленький щеке вершину подпоясал, языкового рот раз послушавшись имени lorem домах грустный! Запятых.')
          +accordeonCard('Обучение по промышленной безопасности', 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. О образ прямо над однажды жизни моей маленький щеке вершину подпоясал, языкового рот раз послушавшись имени lorem домах грустный! Запятых.')
          +accordeonCard('Обучение по электробезопасности', 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. О образ прямо над однажды жизни моей маленький щеке вершину подпоясал, языкового рот раз послушавшись имени lorem домах грустный! Запятых.')
          +accordeonCard('Обучение ПТМ', 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. О образ прямо над однажды жизни моей маленький щеке вершину подпоясал, языкового рот раз послушавшись имени lorem домах грустный! Запятых.')
          +accordeonCard('Обучение работе на высоте', 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. О образ прямо над однажды жизни моей маленький щеке вершину подпоясал, языкового рот раз послушавшись имени lorem домах грустный! Запятых.')
          +accordeonCard('Обучение рабочим профессиям', 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. О образ прямо над однажды жизни моей маленький щеке вершину подпоясал, языкового рот раз послушавшись имени lorem домах грустный! Запятых.')
          +accordeonCard('Оказание первой помощи', 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. О образ прямо над однажды жизни моей маленький щеке вершину подпоясал, языкового рот раз послушавшись имени lorem домах грустный! Запятых.')
          +accordeonCard('Повышение квалификации в области строительства', 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. О образ прямо над однажды жизни моей маленький щеке вершину подпоясал, языкового рот раз послушавшись имени lorem домах грустный! Запятых.')
          +accordeonCard('Повышение квалификации в области строительства', 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. О образ прямо над однажды жизни моей маленький щеке вершину подпоясал, языкового рот раз послушавшись имени lorem домах грустный! Запятых.')
          +accordeonCard('Повышение квалификации в области строительства', 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. О образ прямо над однажды жизни моей маленький щеке вершину подпоясал, языкового рот раз послушавшись имени lorem домах грустный! Запятых.')
          +accordeonCard('Повышение квалификации в области строительства', 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. О образ прямо над однажды жизни моей маленький щеке вершину подпоясал, языкового рот раз послушавшись имени lorem домах грустный! Запятых.')
          +accordeonCard('Повышение квалификации в области строительства', 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. О образ прямо над однажды жизни моей маленький щеке вершину подпоясал, языкового рот раз послушавшись имени lorem домах грустный! Запятых.')
          +accordeonCard('Повышение квалификации в области строительства', 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. О образ прямо над однажды жизни моей маленький щеке вершину подпоясал, языкового рот раз послушавшись имени lorem домах грустный! Запятых.')
    .services__col
      .services__video
        svg.services__video-icon
          use(xlink:href="./assets/images/svg/symbol/sprite.svg#youtube")
        h3.services__video-title Причины обратиться в наш <br> Учебный Центр
        .services__video-text.
          Посмотрите ролик о нашем Учебном центре и мы гарантируем, что вы доверите получение профессиональных знаний и навыков именно нам
      include ./form

