mixin serviceCard(title, subtitle, path)
  .services__card
    svg.services__card-img
      use(xlink:href=path)
    h3.services__card-title= title
    .services__card-subtitle= subtitle
    a.services__card-link(href="#") Узнать подробнее >



.services-cards
  .services-cards__wrap.container
    h2.services-cards__title Услуги нашего учебного центра
    .services-cards__subtitle.
      Мы предлагаем не только обучение и переподготовку по многим популярным направлениям </br> мы предлагаем целый комплекс услуг для вашего бизнеса
    #services-cards__slider.services-cards__slider
      .services-cards__slide
        +serviceCard('Аутсорсинг по охране труда', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе', './assets/images/svg/symbol/sprite.svg#team')
        +serviceCard('Аутсорсинг по охране труда', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе', './assets/images/svg/symbol/sprite.svg#team')
        +serviceCard('Аутсорсинг по  охране труда', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе', './assets/images/svg/symbol/sprite.svg#team')
        +serviceCard('Аутсорсинг по  охране труда', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе', './assets/images/svg/symbol/sprite.svg#team')
      .services-cards__slide
        +serviceCard('Аутсорсинг по охране труда', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе', './assets/images/svg/symbol/sprite.svg#team')
        +serviceCard('Аутсорсинг по охране труда', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе', './assets/images/svg/symbol/sprite.svg#team')
        +serviceCard('Аутсорсинг по  охране труда', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе', './assets/images/svg/symbol/sprite.svg#team')
        +serviceCard('Аутсорсинг по  охране труда', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе', './assets/images/svg/symbol/sprite.svg#team')