section.service-intro
  .service-intro__wrap.container
    .service-intro__col
      h2.service-intro__title Обучение по охране труда
      .service-intro__text.
        Если функционирование организации связано с рисками для жизни и здоровья ее сотрудников, руководству необходимо обеспечить мероприятия по охране труда. Для этого требуется иметь соответствующую квалификацию. Однако подготовка контролирующих специалистов, способных определить рабочий регламент, обеспечить контроль соблюдения прав и гарантий трудящихся, без надлежащего допуска невозможна. Чтобы получить его, руководитель должен пройти обучение по охране труда.
        <br><br>
        Пройти обучение по охране труда с последующей аттестацией можно как дистанционно, так и в очной форме. В итоге инженерно-технический работник получает удостоверение государственного образца. Документ служит подтверждением компетенции в части техники безопасности.
    .service-intro__col
      .service-intro__download
        svg.service-intro__download-icon
          use(xlink:href="./assets/images/svg/symbol/sprite.svg#download")
        h3.service-intro__download-title.
          Скачайте шаблон заявки на обучение по охране труда
        a(href="#").service-intro__download-link > Скачать шаблон | 100кб