mixin studyCard(programAmount, title, subtitle)
  .study__card
    .study__card-amount= programAmount
      span.study__card-amount-subtitle программ
    .study__card-title= title
    .study__card-subtitle= subtitle
    ul.study__card-disciplines
      li.study__card-discipline Повышение квалификации
      li.study__card-discipline Профессиональная подготовка
    button(type="submit").study__card-button Подробно

section.study-cards.section__separator
  #study-cards-slider.container
    .study-cards__slide
      +studyCard(19, 'Охрана труда', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе')
      +studyCard(200, 'Электро-безопаснось', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе')
      +studyCard(150, 'Работа на высоте', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе')
      +studyCard(20, 'Пожарно-технический минимум', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе')
      +studyCard(150, 'Работа на высоте', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе')
      +studyCard(20, 'Пожарно-технический минимум', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе')
    .study-cards__slide
      +studyCard(19, 'Охрана труда', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе')
      +studyCard(200, 'Электро-безопаснось', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе')
      +studyCard(150, 'Работа на высоте', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе')
      +studyCard(20, 'Пожарно-технический минимум', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе')
      +studyCard(150, 'Работа на высоте', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе')
      +studyCard(20, 'Пожарно-технический минимум', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе')
  .study-cards__controls
    .study-cards__controls-label Ещё услуги