doctype html
html(lang='ru-RU')
  head
    link(rel='stylesheet' href='./assets/css/main.css')
    title My test page
  body
    p hi 
    .slider
      .slider-item text 1
      .slider-item text 2
      .slider-item text 3

  script(src="assets/js/libs.min.js")
  script(src="assets/js/main.js")