extends ./layouts/main
block variables
  - var pageTitle = 'Учебный центр'
  - var show_achieves_block = true
  - var sliderImg = './assets/images/shielded-woman.png'

block content
  include ./modules/study-cards
  include ./modules/services-cards

  script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous")
  script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
  script(src="assets/js/main.js")