extends ./layouts/main
block variables
  - var pageTitle = 'Учебный центр'
  - var show_achieves_block = false
  - var sliderImg = './assets/images/slider-man.png'
  - var sliderMask = true
  - var FAQSectionSeparator = 'section__separator'

block content
  include ./modules/service-page-intro
  include ./modules/service-page-price

  script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous")
  script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
  script(src="./assets/js/service-page.js")