block variables

doctype html
html(lang='ru-RU')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="./assets/images/favicon.ico", type="image/x-icon")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")
    
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css")

    link(rel="stylesheet", href="./assets/css/reset.css")
    link(rel='stylesheet' href='./assets/css/main.css')
    title= pageTitle
  body
    section.promo
      include ../modules/header
      include ../modules/slider
    if (show_achieves_block) 
      include ../modules/achieves-block
      include ../modules/breadcrumbs
    block content