.accordeon
  &__card
    margin-bottom: 1.2vw
    padding: 
      top: 1.6vw
      bottom: 1.6vw
      left: 3.3vw
    position: relative
    line-height: 1.2vw
    background-color: $bg-color
    box-shadow: 0 6px 7px 1px rgba(218, 225, 243, 0.4)
    &:last-child
      margin-bottom: 0
    &-icon
      position: absolute
      width: 1vw
      height: 1vw
      top: 50%
      left: 1.7vw
      transform: translateY(-50%) rotate(90deg)
    &-title
      font-size: 1vw
    &-info
      height: 0
      overflow: hidden
      font-size: .8vw
      font-weight: 300