.header
  margin-bottom: 4px
  font-size: 0.73vw
  &__wrap
    padding: 0 50px
    display: flex
    align-items: center
    justify-content: space-between
  &__col
    display: flex
    align-items: center
  &__logo
    margin-right: 4.5vw
    display: flex
    align-items: flex-start
    font-size: 0.9vw
    font-weight: 500
    color: $accent-text-color
    &-img
      margin-right: 0.6vw
      width: 2.3vw
      min-width: 43px
    &-text
      margin-top: 6px
      line-height: 17px
  &__icon
    position: absolute
    left: -1.3vw
    width: 1.1vw
    height: 1.1vw
    top: 50%
    transform: translateY(-50%)
    fill: $accent-color
  &__contacts
    position: relative
    display: flex
    align-items: center
    &-text
      margin-right: 1vw
    &-phone
      font-weight: 700
      color: $main-text-color
    &-button
      padding: 0.3vw 1vw 0.3vw 1.2vw
  &__login
    position: relative
    font-weight: 500
    line-height: 17px
    color: $accent-color
    &-icon
      width: 1.5vw
      height: 1vw
      left: -1.9vw
  