$active-color: #4357b7
$accent-color: #4f5eb6

$main-text-color: #000000
$alt-text-color: #ffffff
$accent-text-color: #2037a9

$bg-color: #f7fbff
$card-bg-color: #dae1f3
$inactive-bg-color: #bdbebf
$accent-bg-color: #d3eace



$study-cards-circle-color_1: #ffffff
$study-cards-circle-color_2: #d4ebcf
$study-cards-circle-color_3: #edd2d2
$study-cards-circle-color_4: #ebe9d0

$study-cards-dots-color: #ffffff
$study-cards-button-color: #000000



$services-cards-gradient_1: linear-gradient(to top, #dae1f3 0%, #f7fbff 100%)
$services-cards-gradient_2: linear-gradient(to top, #d1e9cb 0%, #e5f6e9 100%)
$services-cards-gradient_3: linear-gradient(to top, #e9cbcb 0%, #f6e5e5 100%)
$services-cards-gradient_4: linear-gradient(to top, #e9e6cb 0%, #f6f6e5 100%)