@import 'variables.sass'

body 
  font-family: 'Roboto', sans-serif

.container
  margin: 0 auto
  display: flex
  width: 71vw
  // max-width: 1360px

.section
  &__separator
    position: relative
    &::after
      content: ''
      position: absolute
      width: 31vw
      height: 2px
      left: 50%
      bottom: 0
      transform: translateX(-50%)
      background-color: $card-bg-color

.text
  &_highlight
    color: $accent-text-color
.line
  &_break
    display: block

.arrow
  padding: 15px
  background-color: #fff
  // top: 50%
  // transform: translateY(-50%)
  fill: $card-bg-color
  transition: background-color .2s
  will-change: background-color
  z-index: 200
  cursor: pointer
  &:hover
    background-color: $accent-color
  &-prev
    width: 20px
    height: 20px
    // left: 8.7vw
    transform: rotate(-90deg) 
  &-next
    width: 20px
    height: 20px
    // right: 8.7vw
    transform: rotate(90deg)

.slick
  &-arrow
    padding: 15px
    background-color: #fff
    fill: $card-bg-color
    transition: background-color .2s
    will-change: background-color
    z-index: 200
    &:hover
      background-color: $accent-color
  &-prev
    width: 20px
    height: 20px
    transform: rotate(-90deg) 
  &-next
    width: 20px
    height: 20px
    transform: rotate(90deg)
  &-dots
    bottom: 10px
    li
      button
        &:before
          color: grey
          font-size: 11px
    li.slick-active
      button
        &:before
          font-size: 12px
          color: $active-color

.button
  font-size: 0.86vw
  font-weight: 500
  line-height: 17px
  color: $alt-text-color
  background-color: $accent-color
  border-radius: 5px



@import 'promo.sass'
@import 'burger-menu.sass'
@import 'header.sass'
@import 'slider.sass'
@import 'breadcrumbs.sass'
@import 'study-cards.sass'
@import 'services-cards.sass'
@import 'media.sass'