@import 'variables.sass'

body 
  font-family: 'Roboto', sans-serif

.container
  margin: 0 auto
  display: flex
  max-width: 1360px

.line
  &_break
    display: block

.button
  font-size: 0.86vw
  font-weight: 500
  line-height: 17px
  color: $alt-text-color
  background-color: $accent-color
  border-radius: 5px



@import 'promo.sass'
@import 'burger-menu.sass'
@import 'header.sass'
@import 'media.sass'